<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Done</title>
</head>
<body>
    {% if messages %}
                    <div class="alert alert-info">
                      <ul class="messages">
                          {% for message in messages %}
                              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                          {% endfor %}
                      </ul>    
                     </div>
                  {% endif %}
                     
    <button type="button" class="btn btn-outline-success "><a class="dropdown-item" href="{% url 'login' %}">Login</a></button>
    <!-- Thêm các thông tin hoặc hướng dẫn cần thiết -->
    </div>
</body>
</html>
